@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: scroll-top 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .header{
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }
}
@media screen and (min-width: 1024px) {
  .inverse-header{
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  }
}
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.slide-left {
  transform: translateX(-20px);
  transition: transform 0.5s ease-in-out;
}
